In [14]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp

In [2]:
dataset = pd.read_csv("microclimate_final (1).csv")
dataset

,Unnamed: 0,id,site_id,sensor_id,value,local_time,type,units,Date,Time,description,last_data,latitude,longitude,location
0,0,1,arc1045,0a.EPA-1h,3.9,2019-11-15 09:00:00,PM2.5-EPA-1h,ug/m^3,2019-11-15,09:00:00,"Between 87 and 89 Grattan Street, Carlton",2020/08/05 08:00:01 PM,-37.800793,144.966492,POINT (144.966492 -37.800793)
1,1,5,arc1045,0a.EPA-24h,5.5,2019-11-15 09:00:00,PM2.5-EPA-24h,ug/m^3,2019-11-15,09:00:00,"Between 87 and 89 Grattan Street, Carlton",2020/08/05 08:00:01 PM,-37.800793,144.966492,POINT (144.966492 -37.800793)
2,2,100,arc1045,0a,3.9,2019-11-15 09:15:00,PM2.5,ug/m^3,2019-11-15,09:15:00,"Between 87 and 89 Grattan Street, Carlton",2020/08/05 08:00:01 PM,-37.800793,144.966492,POINT (144.966492 -37.800793)
3,3,141,arc1045,0a,3.8,2019-11-15 09:30:00,PM2.5,ug/m^3,2019-11-15,09:30:00,"Between 87 and 89 Grattan Street, Carlton",2020/08/05 08:00:01 PM,-37.800793,144.966492,POINT (144.966492 -37.800793)
4,4,186,arc1045,0a,3.3,2019-11-15 09:45:00,PM2.5,ug/m^3,2019-11-15,09:45:00,"Between 87 and 89 Grattan Street, Carlton",2020/08/05 08:00:01 PM,-37.800793,144.966492,POINT (144.966492 -37.800793)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176891,176891,1521159,arc1050,0a,4.4,2020-08-04 11:30:11,PM2.5,ug/m^3,2020-08-04,11:30:11,"3/121 Grattan Street, Carlton",2020/08/05 09:00:01 PM,-37.800629,144.965052,POINT (144.965052 -37.800629)
176892,176892,1521195,arc1050,0a,4.6,2020-08-04 12:00:11,PM2.5,ug/m^3,2020-08-04,12:00:11,"3/121 Grattan Street, Carlton",2020/08/05 09:00:01 PM,-37.800629,144.965052,POINT (144.965052 -37.800629)
176893,176893,1521291,arc1050,0a.EPA-24h,4.9,2020-08-04 12:00:00,PM2.5-EPA-24h,ug/m^3,2020-08-04,12:00:00,"3/121 Grattan Street, Carlton",2020/08/05 09:00:01 PM,-37.800629,144.965052,POINT (144.965052 -37.800629)
176894,176894,1521295,arc1050,0a.EPA-1h,4.9,2020-08-04 12:00:00,PM2.5-EPA-1h,ug/m^3,2020-08-04,12:00:00,"3/121 Grattan Street, Carlton",2020/08/05 09:00:01 PM,-37.800629,144.965052,POINT (144.965052 -37.800629)
176895,176895,1521340,arc1050,0a,4.4,2020-08-04 12:15:11,PM2.5,ug/m^3,2020-08-04,12:15:11,"3/121 Grattan Street, Carlton",2020/08/05 09:00:01 PM,-37.800629,144.965052,POINT (144.965052 -37.800629)

In [3]:
df = pd.DataFrame(dataset)
cols = [1,2,3,4,5,6,7,8,9,10]

In [4]:
df = df[df.columns[cols]]

In [13]:
df = df[["sensor_id"]]
df

         sensor_id
0        0a.EPA-1h
1       0a.EPA-24h
2               0a
3               0a
4               0a
...            ...
176891          0a
176892          0a
176893  0a.EPA-24h
176894   0a.EPA-1h
176895          0a

[176896 rows x 1 columns]

In [ ]:
df.to_csv('sensor_data.csv')